* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1 {
    padding-top: 26vh;
}
header, footer {
    background-color: #f6f6f6;
}
header img, footer img {
    width: 11vh;
    height: 9.25vh;
}
nav {
    background-color: #f6f6f6;
    display: inline-block;
}
nav li {
    margin-right: 2vh;
}

nav a {
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.expl {
    background: url(../img/insta.jpg) no-repeat center top / cover;
    height: 106vh;
    display: flex;
}
.expl h1 {
    font-size: 6.8vh;
    color: red;
}
.expl p {
    margin-top: 5.2vh;
    font-size: 3.86vh;
    color: black;
}
.btn {
    background: #D31B5B;
    color: white;
    border-radius: 2.7vh;
    margin-top: 8.35vh;
    font-weight: 400;
    display: block;
    font-size: 4vh;
}
.pricelist {
    background: url(../img/price_fon.jpg) no-repeat center top / cover;
    height: 106vh;
}
.pricelist h1 {
    font-size: 5.2vh;
    color: red;
}
.pricelist p {
    font-size: 3vh;
    padding-top: 6.5vh;
    color: black;
}
.func {
    background: url(../img/func_fon.jpg) no-repeat center top / cover;
    height: 106vh;
}
.func h1 {
    font-size: 5.2vh;
    padding-bottom: 4vh;
    color: blue;
}
.func li {
    font-size: 3vh;
    padding-top: 3.8vh;
}


/*form {
    height: 700px;
    background: url(../img/func_fon.jpg) no-repeat center top / cover;
}*/

/* styles for form.html */
.section {
    background: url(../img/insta.jpg) no-repeat center top / cover;
}

form {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index:15;
    justify-content: center;
    align-items: center;
}

#block_form {
    background: url(../img/func_fon.jpg) no-repeat center top / cover;
    padding: 5vh 5vw;
    /*width: 40vw;
    height: 40vh;*/
    border-radius: 5vh;
}

.form input, textarea {
    border: solid 3px grey;
    border-radius: 6px;
    width: 320px;
    height: 38px;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
}
textarea {
    width: 500px;
    height: 300px;
}
.form p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.5vh;
}

#form_bg {
    background:#222;
    height:100%;
    width: 100%;
    z-index: 10;
    opacity: 0.7;
    position: fixed;
}

#auth_form {
    background: #fff;
    width: 40vw;
    height: 40vh;
    position: fixed;
}


#form_bg, #form_fixed {
    display: none;
}

.form i {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 18px;
}
.question {
    background: url(../img/question_fon.jpg) no-repeat center top / cover;
    height: 90vh;
    padding-left: 80px;
    padding-top: 45px;
}
.answers {
    font-family: 'Montserrat', sans-serif;
    float: right;
    vertical-align: top;
    display: inline-block;
    padding-right: 60px;
}
.answers h1 {
    font-weight: 900;
    font-size: 22px;
    padding-bottom: 10px;
    cursor: pointer;
}
.answers p {
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 25px;
    cursor: pointer;
    display: none;
}
