* {
    box-sizing: border-box;
}
header {
    background-color: #f6f6f6;
}
header li {
    margin-right: 40px;
    margin-top: 20px;
}
header a, footer a {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.expl {
    background: url(../img/insta.jpg) no-repeat center top / cover;
    height: 800px;
    display: flex;
}
.expl h1 {
    text-align: center;
    padding-top: 220px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    color: red;
}
.expl p {
    margin-top: 67px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
}
.btn {
    background: #D31B5B;
    color: white;
    border-radius: 15px;
    margin-top: 80px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    font-size: 25px;
}
.pricelist {
  background: url(../img/price_fon.jpg) no-repeat center top / cover;
  height: 800px;
}
.pricelist_expl {
  padding-top: 110px;
  padding-left: 22%;
}
.pricelist_expl h1 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: red;
}
.pricelist_expl p {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 17%;
  padding-top: 60px;
  color: black;
}
#price1 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 55px;
  padding-left: 12%;
  color: black;
}
#price2 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  padding-left: 12.39%;
  color: black;
}
.bot {
  margin-top: 150px;
  margin-left: 8%;
}
#price {
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 7%;
}
.func {
  background: url(../img/func_fon.jpg) no-repeat center top / cover;
  height: 800px;
}
.func_exp {
  padding-left: 27%;
  padding-top: 250px;
}
.func_exp h1 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  color: blue;
}
.func_exp ul {
  padding-top: 35px;
  padding-left: 12%;
}
.func_exp li {
  font-size: 27px;
  padding-top: 10px;
  font-family: Arial;
}

/*form {
    height: 700px;
    background: url(../img/func_fon.jpg) no-repeat center top / cover;
}*/
form {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index:15;
  justify-content: center;
  align-items: center;
}

#block_form {
  background: url(../img/func_fon.jpg) no-repeat center top / cover;
  padding: 5vh 5vw;
  /*width: 40vw;
  height: 40vh;*/
  border-radius: 5vh;
}

.form input, textarea {
    border: solid 3px grey;
    border-radius: 6px;
    width: 320px;
    height: 38px;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
}
textarea {
    width: 500px;
    height: 300px;
}
.form p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.5vh;
}
#btn {
    background: #D31B5B;
    color: white;
    border-radius: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 320px;
    height: 40px;
    padding-top: 10px;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 21px;
}

#form_bg {
  background:#222;
  height:100%;
  width: 100%;
  z-index: 10;
  opacity: 0.7;
  position: fixed;
}

#auth_form {
    background: #fff;
    width: 40vw;
    height: 40vh;
    position: fixed;
}


#form_bg, #form_fixed {
  display: none;
}

.form i {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 18px;
}
.question {
    background: url(../img/question_fon.jpg) no-repeat center top / cover;
    height: 90vh;
    padding-left: 80px;
    padding-top: 45px;
}
.answers {
    font-family: 'Montserrat', sans-serif;
    float: right;
    vertical-align: top;
    display: inline-block;
    padding-right: 60px;
}
.answers h1 {
    font-weight: 900;
    font-size: 22px;
    padding-bottom: 10px;
    cursor: pointer;
}
.answers p {
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 25px;
    cursor: pointer;
    display: none;
}
