* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat';
	font-weight: 900;
	text-align: center;
}
header img, footer img {
    width: 11vh;
    height: 9.25vh;
}
nav li {
	margin-right: 2vh;
	font-size: 2.9vh;
}
.first {
	background: url(../img/fon.jpg) no-repeat center top / cover;
	height: 100vh;
}
.incl {
	padding-top: 26.1vh;
}
.incl h1 {
	font-size: 4.6vh;
	color: #000099;
}
.incl p {
	font-size: 3.5vh;
	margin-top: 5.9vh;
}
.btn {
	background-color: #3300cc;
	border: none;
	font-size: 2.9vh;
	color: #fff;
	border-radius: 1.83vh;
	margin-top: 7.2vh;
}
.btn:hover {
	background-color: #333399;
}
