* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat';
	font-weight: 900;
}
header {
	font-size: 20px;
}
section {
	background: url(../img/fon.jpg) no-repeat center top / cover;
	height: 100vh;
	text-align: center;
}
.incl {
	padding-top: 200px;
}
.incl h1 {
	font-size: 45px;
	color: #000099;
}
.incl p {
	font-size: 25px;
	margin-top: 55px;
}
.btn {
	background-color: #3300cc;
	border: none;
	font-size: 20px;
	color: #fff;
	border-radius: 14px;
	margin-top: 35px;
}
.btn:hover {
	background-color: #333399;
}
